@import url('https://fonts.googleapis.com/css2?family=Charm:wght@400;700&family=Coming+Soon&family=Great+Vibes&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Playwrite+AR:wght@100..400&family=Playwrite+DE+LA:wght@100..400&family=Sriracha&family=Train+One&family=Yrsa:ital,wght@0,300..700;1,300..700&display=swap');
body {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.capa {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    height: 90px;
    width: 90px;
    border-radius: 90px;
    margin-top:30px;
}
.titulo {
    display: flex;
    margin: 20px auto;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    color:black;
}
.menu {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
  
  .menu li {
    display: inline-block;
  }
  
  .menu a {
    text-decoration: none;
    color: #461e0e;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 15px;
    transition: 0.8s;
  }
  .menu a:hover {
    color: white;
    background-color: #461e0e;
    border-radius: 50px;
  }
  .fotos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px auto;
    max-width: 100%;
    overflow: hidden;
    gap: 10px;
    margin-bottom: 45px;
}

.fotos img {
    width: 455px;
    height: 455px;
    border-radius: 2px;
    display: block;
    object-fit: cover;
}
.casa{
  background-color: rgba(70, 30, 14, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 90px 2px 60px;
}
.home {
  color:white;
  font-family: "Playwrite AR", cursive,sans-serif;
  font-size: x-small ;
  border-radius: 5px;
  padding: 10px 30px;
  max-width:700px ;
  margin: 0 auto;
  word-wrap: break-word;
  text-align: center;
}
.text-servico {
  justify-items: center;
  padding: 10px;
  font-size:xx-large;
  font-family:'Great Vibes',cursive;
}
.servicos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px auto;
  max-width: 100%;
  overflow: hidden;
  gap: 50px;
  background-color: rgba(236, 176, 131,0.7);
  border-radius: 50px;
  padding-top: 50px;
  padding-bottom: 20px;
}
.servicos img {
  width: 400px;
  height: 400px;
  border-radius: 50px;
  display: block;
  object-fit: cover;
}
.servicos p {
  text-align: center;
  font-size:large;
  font-family:"Playwrite DE LA", cursive ;
  font-size: 22px;
}
.titulo-curso {
  justify-items: center;
  padding: 10px;
  font-size:xx-large;
  font-family:'Great Vibes',cursive;
}
.curso-css {
  background-color: rgba(70, 30, 14, 0.8);
  border-radius: 5px;

}
.texto-curso {
  border-radius: 50px;
  width: 75%;
  height: 190px;
  padding-left: 180px;
  padding-top: 1px;
  font-family: "Sriracha", cursive;
  font-size: x-large;
  color:white;
  text-align:center ;
}
.titulo-contato {
  justify-items: center;
  padding: 10px;
  font-size:40px;
  font-family:'Great Vibes',cursive;
}
.redesocial {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  gap: 150px; 
  font-size: 40px;
}  

.redesocial a {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 10px;
  text-decoration: none;
  border-radius: 20px;
  color: white;
  transition: 0.8s;
}

.redesocial img {
  width: 30px;
}
.zapzap:hover {
  background-color:rgba(70, 30, 14, 0.8);
  color: white;
}
.instagram:hover {
  background-color:rgba(70, 30, 14, 0.8);
  color: white;
}

